.search-results ul {
  background-color: white;
  border: 1px solid light-grey;
  border-radius: 2px;
  list-style-type: none;
  margin-left: 3.5rem;
  padding-left: 0;
  position: relative;
  top: -1rem;
  width: 20rem;
}

.search-results-email {
  color: white;
}

.selected {
  background-color: #296AD2;
  color: white;
}
