.search-results ul {
  background-color: white;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  border-radius: 2px;
  margin: 0;
  list-style-type: none;
  padding: 0;
  position: relative;
  width: auto;
}

.search-results li {
  line-height: 1.75rem;
  padding-left: .5rem;
  text-align: left;
}

.search-results-email {
  color: white;
}

.selected {
  background-color: #296AD2;
  color: white;
}
