textarea {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 100px;
  width: 100%;
}

input {
  line-height: 1.5rem;
}

.input-label {
  color: grey;
  display: inline-block;
  padding: 1rem 1rem 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.email-form {
  padding: 0 4rem;
}

textarea {
  display: block;
  font-size: .85rem;
}

input {
  font-size: .85rem;
  line-height: 1.75rem;
  width: 100%;
}

button {
  background-color: #1565C0;
  border-radius: 5px;
  display: block;
  color: white;
  font-size: .85rem;
  padding: 1rem;
  width: 6rem;
}

button:hover {
  background-color: #1E88E5;
}

button:disabled {
  background-color: #9E9E9E;
  color: #757575;
}
